<div class="l-navbar" id="nav-bar">
  <nav class="nav d-flex flex-column justify-content-start">
    <div class="d-flex flex-column align-items-center py-2">
      <span class="nav-header-name">Board Games Vis</span>
    </div>
    <hr class="mb-3" style="border-top: 3px solid white;">
    <div class="nav_list d-flex flex-column">
      <a class="nav-link pb-4 d-flex flex-row justify-content-start align-items-center {% if 'list_vis' in segment %} active {% endif %}" href="/list_vis.html">
        <i class='bi bi-bar-chart-line-fill ps-1 pe-4 nav-link-icon'></i>
        <span class="nav-link-name">Scoreboard</span>
      </a>
      <a class="nav-link pb-4 d-flex flex-row justify-content-start align-items-center {% if 'network_vis' in segment %} active {% endif %}" href="/network_vis.html">
        <i class='bi bi-share-fill ps-1 pe-4 nav-link-icon'></i>
          <span class="nav-link-name">Network Analysis</span>
      </a>
      <a class="nav-link pb-4 d-flex flex-row justify-content-start align-items-center {% if 'distribution_vis' in segment %} active {% endif %}" href="/distribution_vis.html">
        <i class='bi bi-pie-chart-fill ps-1 pe-4 nav-link-icon'></i>
          <span class="nav-link-name">Distributions</span>
      </a>
      <a class="nav-link pb-4 d-flex flex-row justify-content-start align-items-center {% if 'trend_vis' in segment %} active {% endif %}" href="/trend_vis.html">
        <i class='bi bi-graph-up ps-1 pe-4 nav-link-icon'></i>
          <span class="nav-link-name">Trends</span>
      </a>
      <a class="nav-link pb-4 d-flex flex-row justify-content-start align-items-center {% if 'scatterplot' in segment %} active {% endif %}" href="/scatterplot.html">
        <i class='bi bi-cookie ps-1 pe-4 nav-link-icon'></i>
        <span class="nav-link-name">Scatterplot</span>
      </a>
      <a class="nav-link pb-4 d-flex flex-row justify-content-start align-items-center {% if 'bubble' in segment %} active {% endif %}" href="/bubble.html">
        <i class='bi bi-bullseye ps-1 pe-4 nav-link-icon'></i>
        <span class="nav-link-name">Bubble Chart</span>
      </a>  
    </div>
  </nav>
</div>
