{% extends 'base.html' %}

{% block title %} Cluster {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
    <div>
        <button id="year" class="clusterbtn ">Years</button>
        <button id="minplayers" class="clusterbtn">Min Players</button>
        <button id="maxplayers" class="clusterbtn">Max Players</button>
        <button id="minplaytime" class="clusterbtn">Min Playtimes</button>
        <button id="maxplaytime" class="clusterbtn">Max Playtimes</button>
        <button id="minage" class="clusterbtn">Min Ages</button>
        <button id="categories" class="clusterbtn">Categories</button>
        <button id="mechanics" class="clusterbtn">Mechanics</button>
        <button id="designer" class="clusterbtn">Designers</button>
    </div>
    
    <div class="container d-flex">
        <div id="pie"></div>
        <div id="bar"></div>
    </div>
    

    <script src="https://d3js.org/d3.v7.min.js"></script>
    <script src="static/js/cluster_vis.js"></script>

{% endblock content %}