@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap");

:root {
    --header-height: 3rem;
    --nav-width: 17%;
    --first-color: #0F7173;
    --first-color-light: #EEEEEE;
    --white-color: #ffffff;
    --body-font: 'Nunito', sans-serif;
    --normal-font-size: 2rem;
    --z-fixed: 100;
}

*, ::before, ::after {
    box-sizing: border-box;
}

body {
    position: relative;
    margin: var(--header-height) 0 0 0;
    padding-left: 17% !important;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    transition: .5s;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

a {
    text-decoration: none !important;
}

.header {
    width: 100%;
    height: var(--header-height);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
    background-color: var(--white-color);
    z-index: var(--z-fixed);
    transition: .5s;
}

.header_toggle {
    color: var(--first-color);
    font-size: 1.5rem;
    cursor: pointer;
}

.l-navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: var(--nav-width);
    height: 100vh;
    background-color: var(--first-color);
    padding: 1rem 1rem 1rem 1rem;
    transition: .5s;
    z-index: var(--z-fixed);
}

.nav {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
}

.nav-link-icon {
    font-size: 2.1rem;
    color: var(--first-color-light);
}

.nav-header-name {
    color: var(--white-color);
    font-weight: 700;
    font-size: 30px;
}

.nav-link-name {
    color: var(--first-color-light);
    font-weight: 600;
    font-size: 21px;
}

.show {
    left: 0;
}

.active {
    
    .nav-link-icon{
        font-size: 2.5rem;
    }
    
    .nav-link-name{
        color: var(--white-color);
        font-weight: 700 !important;
        font-size: 24px !important;
    }
}

.active::before {
    content: '';
    position: absolute;
    left: 0;
    width: 4px;
    height: 65px;
    background-color: var(--white-color);
}

.height-100 {
    height: 100vh;
}

@media screen and (min-width: 768px) {
    body {
        margin: calc(var(--header-height) + 1rem) 0 0 0;
        padding-left: calc(var(--nav-width));
    }
    
    .header {
        height: calc(var(--header-height) + 1rem);
        padding: 0 2rem 0 calc(var(--nav-width));
    }
    
    .header_img {
        width: 40px;
        height: 40px;
    }
    
    .header_img img {
        width: 45px;
    }
    
    .show {
        width: calc(var(--nav-width) + 156px);
    }
    
    .body-pd {
        padding-left: calc(var(--nav-width) + 188px);
    }
}
