body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#graph {
    width: 100%;
    height: 600px;
}

#tooltip {
    position: absolute;
    background: white;
    border: 1px solid #ccc;
    padding: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

#tooltip.hidden {
    display: none;
}

#card {
    position: absolute;
    background: white;
    border: 1px solid #ccc;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    max-width: 300px;
}

#card.hidden {
    display: none;
}

/* dropdown styling */
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    max-height: 200px; /* Set max-height */
    overflow-y: auto;  /* Add scroll if needed */
}
.dropdown-content label {
    display: block;
    padding: 8px 16px;
    cursor: pointer;
}
.dropdown-content label:hover {
    background-color: #ddd;
}

.show {
    display: block;
}
.hidden {
    display: none;
}

.legend:hover {
    cursor: pointer;
}
.legend rect {
    stroke: white;
    stroke-width: 1px;
}
.legend text {
    font-size: 12px;
    fill: #333;
}
.legend g.active rect {
    stroke: black; /* to highlight active legend item */
}
