<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Board Games View</title>
    <link rel="stylesheet" href="static/css/style.css">
</head>
<body>
    <h1>Top-100 Board Games Visualization</h1>
    <div>
        <button id="year" class="clusterbtn neumorphic-button">Years</button>
        <button id="minplayers" class="clusterbtn glass-button">Min Players</button>
        <button id="maxplayers" class="clusterbtn icon-button">Max Players</button>
        <button id="minplaytime" class="clusterbtn animated-border-button">Min Playtimes</button>
        <button id="maxplaytime" class="clusterbtn">Max Playtimes</button>
        <button id="minage" class="clusterbtn minimalist-button">Min Ages</button>
        <button id="categories" class="clusterbtn rounded-icon-button">Categories</button>
        <button id="mechanics" class="clusterbtn outlined-button">Mechanics</button>
        <button id="designer" class="clusterbtn flat-shadow-button">Designers</button>
    </div>
    <div id="pie"></div>
    <div id="bar"></div>
    <div id="tooltip" class="hidden"></div>
    <div id="card" class="hidden"></div>
    <script src="https://d3js.org/d3.v7.min.js"></script>
    <script src="static/js/cluster_vis.js"></script>
</body>
</html>