<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Board Games View</title>
    <link rel="stylesheet" href="static/css/style.css">
    <link rel="stylesheet" href="static/css/button_style.css">
    <link rel="stylesheet" href="static/css/switch_style.css">
</head>
<body>
    <h1>Top-100 Board Games Visualization</h1>
    <div>
        <a href="/cluster_vis">
            <button type="button">Change Vis</button>
        </a>
        <button id="clear-filters">Clear All Filters</button>
        <select name="property" id="property">
            <option selected value="year">Year</option>
            <option value="minplayers">Min Players</option>
            <option value="maxplayers">Max Players</option>
            <option value="minplaytime">Min Playtime</option>
            <option value="maxplaytime">Max Playtime</option>
            <option value="minage">Min Age</option>
        </select>
    </div>
    <div>
        <div class="dropdown">
            <button class="dropbtn">Select Years</button>
            <div id="year-dropdown" class="dropdown-content">
                <!-- Year options will be populated here -->
            </div>
        </div>
        <div class="dropdown">
            <button class="dropbtn">Select Min Players</button>
            <div id="minplayers-dropdown" class="dropdown-content">
                <!-- Min Players options will be populated here -->
            </div>
        </div>
        <div class="dropdown">
            <button class="dropbtn">Select Max Players</button>
            <div id="maxplayers-dropdown" class="dropdown-content">
                <!-- Max Players options will be populated here -->
            </div>
        </div>
        <div class="dropdown">
            <button class="dropbtn">Select Min Playtimes</button>
            <div id="minplaytime-dropdown" class="dropdown-content">
                <!-- Min Playtime options will be populated here -->
            </div>
        </div>
        <div class="dropdown">
            <button class="dropbtn">Select Max Playtimes</button>
            <div id="maxplaytime-dropdown" class="dropdown-content">
                <!-- Max Playtime options will be populated here -->
            </div>
        </div>
        <div class="dropdown">
            <button class="dropbtn">Select Min Ages</button>
            <div id="minage-dropdown" class="dropdown-content">
                <!-- Min Age options will be populated here -->
            </div>
        </div>
        <div class="dropdown">
            <button class="dropbtn">Select Categories</button>
            <div id="categories-dropdown" class="dropdown-content">
                <label class="switch-label">
                    <input type="checkbox" value="AND" class="switch-input">
                    <span class="slider round"></span><span class="switch-text">AND</span>
                </label>
                <!-- Category options will be populated here -->
            </div>
        </div>
        <div class="dropdown">
            <button class="dropbtn">Select Mechanics</button>
            <div id="mechanics-dropdown" class="dropdown-content">
                <label class="switch-label">
                    <input type="checkbox" value="AND" class="switch-input">
                    <span class="slider round"></span><span class="switch-text">AND</span>
                </label>
                <!-- Mechanic options will be populated here -->
            </div>
        </div>
        <div class="dropdown">
            <button class="dropbtn">Select Designers</button>
            <div id="designer-dropdown" class="dropdown-content">
                <label class="switch-label">
                    <input type="checkbox" value="AND" class="switch-input">
                    <span class="slider round"></span><span class="switch-text">AND</span>
                </label>
                <!-- Designer options will be populated here -->
            </div>
        </div>
    </div>
    <div id="graph"></div>
    <div id="tooltip" class="hidden"></div>
    <div id="card" class="hidden"></div>
    <script src="https://d3js.org/d3.v7.min.js"></script>
    <script src="static/js/lens.js"></script>
    <script src="static/js/dropdown.js"></script>
    <script src="static/js/legend.js"></script>
    <script src="static/js/script.js"></script>
    <!--
    <script src="static/js/filtering.js"></script>
    <script src="static/js/graph.js"></script>
    <script src="static/js/main.js"></script>
    -->
</body>
</html>